.footer{
	.footer-menu{
		li{
			flex-basis: 33.33333%;
			max-width: 33.33333%;
			box-sizing: border-box;
			padding: 0 1.25%;
			padding-top: ms(-4);
			padding-bottom: ms(-3);
			a{
				font-size: ms(1);
			}
			@include breakpoint($mobile){
				&:nth-child(2n){
					text-align: right;
				}
			}
		}
	}
	.footer_credit{
		p{
			@include breakpoint($mobile){
				text-align: center !important;
				margin-top: ms(-3);
				margin-bottom: ms(-2);
			}
		}
	}
	.social-details{
		@include breakpoint($mobile){
			margin-bottom: $gamma-one;
		}	
	}
	@include breakpoint($mobile){
		padding-bottom: $beta-one;
	}
}